
.insert-time-hours-field label,
.insert-time-minutes-field label {
  display: inline !important;
}

.insert-time-hours-field,
.insert-time-minutes-field {
  float: left;
  margin-right: 5px;
}

.insert-time-minutes-field {
  margin-right: 25px;
}

.insert-time-hours-field input,
.insert-time-minutes-field input {
  width: 30px !important;
}

#finanzen-insert-form .form-submit { margin-top: 5px; }

.inserted-time { color: #FF0000; }

div.modified .form-item input { background-color : #FCF6D3; }

/*tr.weekend { background-color : #FFE8E8; }*/
tr.weekend { background-color : #FFE9D2; }


